.ptz--theme-0--div-0
  background: #eaf3fd none repeat scroll 0 0
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-radius: 3px
  margin: 20px 0
  padding: 15px
  transition: background-color 1s ease 0s

  &.disable
    background: #f9f9f9 none repeat scroll 0 0