.ptz--theme-0--table-0
  &--table
    border: 1px solid #e3f2fd

  &--tr:nth-child(odd)
    background: #f4f9fd

  &--th
    white-space: nowrap
    text-align: left

  &--th:nth-child(even)
    background: #e3f2fd

  &--td